
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  position: relative;
  color:#1D1F22;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%; 
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
  color: #1d1f22;
}

.wrapper {
  margin: 0 100px 0 102px;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-title{
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
}

.text-price {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}
