
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway';
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%; 
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  margin: 0 100px 0 102px;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-text {
  color:#1D1F22;
}
